body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  .load-bg{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #00000060;
    z-index: 1000;
    font-size: 1rem;
    .box{
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      color: #fff;
      font-size: 13px;
      font-weight: bold;
      svg {
        width: 3.25em;
        transform-origin: center;
        animation: rotate4 2s linear infinite;
      }
      .text{
        animation: fadeInOut 2s infinite;
      }
      circle {
        fill: none;
        stroke: hsl(0, 0%, 100%);
        stroke-width: 7;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: dash4 1.5s ease-in-out infinite;
      }
    }
  }
  .bg{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #00000036;
    z-index: 1000;
    font-size: 1rem;
    .detectOut{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    .cf-box{
      z-index: 1;
      border: 1px solid #999;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      min-width: 350px;
      max-width: 400px;
      overflow: hidden;
      animation: bounceIn 0.3s ease-in-out;
      .cf-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6px 10px;
        box-shadow: 1px 2px 2px #00000024;
        .text{
          font-weight: bold;
        }
        button.cls{
          color: #00000030;
          font-size: 18px;
          border-radius: 50%;
          width: 33px;
          height: 33px;
          display: flex;
          border: hidden;
          align-items: center;
          justify-content: center;
          &:hover{
            color: #373737;
            background-color: #e8e8e8;
          }
        }
      }
      .cf-content{
        padding: 10px;
        display: flex;
        flex-direction: column;
        .message{
          padding: 15px 5px;
        }
        .cf-btn{
          display: flex;
          gap: 5px;
          justify-content: end;
          button{
            padding: 10px 15px;
            &.yes{
              color: #fff;
              background-color: #0084ff;
              border: 1px solid #0084ff;
              &:hover{
                background-color: #116bc0;
                border: 1px solid #116bc0;
              }
            }
          }
        }
      }
    }
  }
  .body-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    .add-services{
      display: flex;
      flex-direction: column;
      flex: 1;
      .s-head{    
        font-size: 30px;
        color: #184669;
        display: flex;
        justify-content: center;
        padding: 20px;
        font-weight: bold;
      }
      .s-body{
        padding: 20px;
        display: flex;
        gap: 10px;
        justify-content: space-around;
        .s-card{
          max-width: 400px;
          flex: 1;
          padding: 20px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          box-shadow: 1px 1px 3px #0000002b;
          border-radius: 5px;
          overflow: auto;
          gap: 10px;
          .s-name{
            color: #373842;
            font-weight: 600;
            font-size: 18px;
          }
          button.add_services{
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4b8fc3;
            color: #ffffffad;
            cursor: pointer;
            transition: 0.3s;
            border: hidden;
            border-radius: 5px;
            span {
              cursor: pointer;
              display: inline-block;
              position: relative;
              transition: 0.1s;
            }
            span:after {
              content: '»';
              position: absolute;
              opacity: 0;
              top: 0;
              right: -15px;
              transition: 0.1s;
            }
            &:hover{
              color: #fff;
              background-color: #095086;
              span {
                padding-right: 15px;
                &:after {
                  opacity: 1;
                  right: 0;
                }
              }
            }
          }
          .s-details{
            font-size: 15px;
            border: 1px solid #00000015;
            border-radius: 10px;
            margin: 5px;
            overflow: hidden;
            table{
              width: 100%;
              border-collapse: collapse;
              td{
                border-top: 1px solid #00000015;
                border-bottom: 1px solid #00000015;
                padding: 10px;
                &:first-child{
                  color: #1d2f44;
                }
                &:last-child{
                  color: #00cc11;
                }
              }
              tr:first-child{
                td{
                  border-top: hidden;
                }
              }
              tr:last-child{
                td{
                  border-bottom: hidden;
                }
              }
            }
          }
        }
      }
    }
    .top-container{
      z-index: 1000;
      display: flex;
      flex: 1;
      justify-content: space-between;
      max-height: 35px;
      align-items: center;
      -webkit-app-region: drag;
      box-shadow: 1px 1px 3px #00000036;
      .Control-list{
        display: flex;
        gap: 5px;
        align-items: center;
        button{
          -webkit-app-region: no-drag;
          border: hidden;
          font-size: 13px;
          width: 35px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover{
            color: #077eec;
            background-color: #eef3f7;
          }
        }
      }
      .left{
        flex: 1;
        .logo{
          margin: 5px 9.5px;
          font-weight: bold;
          color: #0f7fc9;
        }
      }
      .mid{
        flex: 1;
        align-items: center;
        justify-content: center;
        margin-bottom: 2px;
        input{    
          padding: 5px;
          border: 1px solid #00000030;
          border-radius: 5px;
          width: 30vw;
          -webkit-app-region: no-drag;
          outline: none;
          background-color: #ffffff21;
          color: #2c2943;
          text-align: center;
        }
      }
      .right{
        flex: 1;
        justify-content: flex-end;
        .UI-btn{
          button{
            -webkit-app-region: no-drag;
            color: #272121;
            border: hidden;
            outline: none;
            height: 35px;
            padding: 0px 15px;
            cursor: pointer;
            border-radius: 0px;
            background-color: transparent;
            &:hover{
              color: #fff;
              background-color: #0000003b;
            }
          }
          &:last-child button{
            &:hover{
              color: #fff;
              background-color: #ca1010da;
            }
          }
        }
      }
    }
    .main-container{
      display: flex;
      flex: 1;
      overflow: hidden;
      .app-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        box-shadow: 1px 1px 3px #00000036;
        z-index: 100;
        background-color: #1a3447;
        padding-bottom: 5px;
        .split{
          border-bottom: 2px solid #ffffff5c;
          margin: 5px;
          border-radius: 5px;
        }
        .tooltiptext {
          font-weight: 600;
          display: flex;
          align-items: center;
          visibility: hidden;
          height: -webkit-fill-available;
          background-color: #ffffff;
          box-shadow: 1px 1px 3px #00000050;
          color: #1e1d33;
          padding: 0px 10px;
          white-space: nowrap;
          flex-wrap: nowrap;
          text-align: center;
          border-radius: 0px 7px 7px 0px;
          position: absolute;
          z-index: 1;
          left: 100%;
          opacity: 0;
          font-size: 15px;
          transition: opacity 0.3s;
          font-size: 13px;
        }
        .app_add{
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.3s;
          font-size: 20px;
          color: #8ea4b3;
          position: relative;
          &:hover{
            color: #ffffff;
            background-color: #00000061;
            .tooltiptext {
              visibility: visible;
              opacity: 1;
            }
          }
        }
        .app-item{
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.3s;
          font-size: 20px;
          color: #8ea4b3;
          position: relative;
          &:hover{
            color: #fff;
            background-color: #00000061;
            .tooltiptext {
              visibility: visible;
              opacity: 1;
            }
          }
          &.active{
            color: #fff;
            background-color: #0086eb;
            &:hover{
              box-shadow: 2px 3px 9px #0000006b inset;
            }
          }
        }
        .app-sv{
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.3s;
          font-size: 20px;
          color: #7babcb;
          position: relative;

          img{
            width: 70%;
            transition: 0.2s;
          }
          .app-sv-name{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-weight: bold;
            transition: 0.2s;
          }
          .tooltiptext {
            display: flex;
            align-items: center;
            visibility: hidden;
            height: 40px;    
            background-color: #ffffff;
            box-shadow: 1px 1px 3px #00000050;
            color: #1e1d33;
            padding: 0px 10px;
            white-space: nowrap;
            flex-wrap: nowrap;
            text-align: center;
            border-radius: 0px 10px 10px 0px;
            position: absolute;
            z-index: 1;
            left: 100%;
            opacity: 0;
            font-size: 15px;
            transition: opacity 0.3s;
          }
          &:hover{
            color: #2088cd;
            background-color: #00000060;
            .tooltiptext {
              visibility: visible;
              opacity: 1;
            }
          }
        }
        .active{
          img, .app-sv-name {
            color: #116bc0;
            width: 70%;
            height: 70%;
            border-radius: 10px;
            border: 4px solid #fff;
            background-color: #edfdff;
            box-shadow: 1px 2px 3px #00000052;
          }
          &:hover{
            img{
              box-shadow: 1px 2px 3px #00000087;
              background-color: #ffffff;
            }
            .tooltiptext {
              visibility: hidden;
              opacity: 0;
            }
          }
        }
      }
      .app-view{    
        display: flex;
        flex: 1;
        overflow: hidden;
        background-color: #d3d6dd;
        .split{
          margin: 5px;
          border-bottom: 1px solid #dbdbdb;
        }
        .left-subItem{
          display: flex;
          box-shadow: 1px 2px 3px #00000030;
          width: 200px;
          background-color: #fff;
          flex-direction: column;
          padding: 5px;
          gap: 5px;
          position: relative;
          .subNav-tools{
            position: absolute;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            right: -14px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 1px 2px 3px #00000020;
            top: calc(50% - 14px);
            cursor: pointer;
            transition: all 0.3s;
            color: #909090;
            i{
              transform: rotate(180deg);
              transition: all 0.3s;
            }
            &.active{
              i{
                transform: rotate(0deg);
              }
            }
            &:hover{
              box-shadow: 1px 2px 3px #00000030;
              color: #0086eb;
            }
          }
          .subItem{
            border-radius: 7px;
            display: flex;
            gap: 5px;
            padding: 5px 8px;
            cursor: pointer;
            align-items: center;
            transition: all 0.3s;
            color: #2c75a5;
            font-weight: 600;
            height: 28px;
            .logo{
              width: 30px;
              display: flex;
              justify-content: center;
            }
            &:hover{
              color: #0c86e1;
              background-color: #e0ebf5;
            }
            &.active{
              background-color: #cce7ffb0;
              color: #0285ff;
              box-shadow: 0px 0px 3px #4ca9ff3b inset;
              &::before{
                content: "";
                border-radius: 5px;
                width: 5px;
                height: 20px;
                background-color: #2196f3;
              }
            }
          }
          &.active{
            width: 60px;
            .subItem{
              .logo{
                flex: 1;
              }
              .name{
                display: none;
              }
            }
          }
        }
        .app-menu{
          display: flex;
          flex-direction: column;
          box-shadow: 1px 1px 3px #00000020;
          background-color: #fff;
          position: relative;
          .store-items-container{
            transition: all 0.3s;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 2px;
            white-space: nowrap;
            &.open{
              width: 13rem;
              .store-items{
                display: flex;
                padding: 0.7rem;
                color: #5770a7;
                border-radius: 5px;
                gap: 10px;
                transition: all 0.3s;
                cursor: pointer;
                overflow: hidden;
                .logo{
                  display: flex;
                  width: 20px;
                  padding-top: 3px;
                  align-items: center;
                  justify-content: center;
                  transition: all 0.3s;
                }
                .name{
                  transition: all 0.3s;
                }
                &:hover{
                  background-color: #eef3fb;
                  color: #0c86e1;
                }
                &.active{
                  background-color: #f5f5f5;
                  color: #0086eb;
                  box-shadow: 1px 2px 3px #0000000a inset;
                }
              }
            }
            &.hidden{
              width: 70px;
              .store-items{
                display: flex;
                padding: 0.7rem;
                color: #5770a7;
                border-radius: 5px;
                gap: 10px;
                transition: all 0.3s;
                cursor: pointer;
                &:hover{
                  background-color: #eef3fb;
                  color: #0c86e1;
                }
                &.active{
                  background-color: #f5f5f5;
                  color: #0086eb;
                  box-shadow: 1px 2px 3px #0000000a inset;
                }
                .name{
                  display: none;
                  transition: all 0.3s;
                }
                .logo{
                  display: flex;
                  width: -webkit-fill-available;
                  font-size: 20px;
                  justify-content: center;
                  transition: all 0.3s;
                }
              }
            }
          }
          .show-responsive{
            position: absolute;
            display: flex;
            right: 3px;
            height: 100%;
            width: 0px;
            align-items: center;
            justify-content: center;
            logo{
              display: flex;
              align-items: center;
              border-radius: 50%;
              padding: 5px 4px 4px;
              background-color: #fff;
              display: flex;
              box-shadow: 2px 0 2px 0px #00000030;
              cursor: pointer;
              transition: all 0.3s;
              i{
                font-size: 23px;
                color: #8aabc3;
                transition: all 0.1s;
              }
              &:hover{
                i{
                  font-size: 25px;
                  color: #2f8cce;
                }
              }
            }
          }
        }
      }
    }
  }
}
button{
  border-radius: 7px;
  padding: 5px 10px;
  color: #999;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  &:hover{
    color: #1d1d1d;
    border: 1px solid #494949;
  }
}

.g5 {
  gap: 5px;
}

.g7 {
  gap: 7px;
}

.g10 {
  gap: 10px;
}

.g15 {
  gap: 15px;
}

.flex,
.f {
  display: flex;
}
.acenter{
  align-items: center;
  justify-content: center;
}
.icenter{
  align-items: center;
}
.jcenter{
  justify-content: center;
}
.right {
  display: flex;
  margin-left: auto;
}

.flex1,
.f1 {
  display: flex;
  flex: 1;
}

.fc,
.flex-cl,
.flex-column {
  display: flex;
  flex-direction: column;
}
.login-box{
  display: flex;
  position: fixed;
  flex-direction: row;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  .left-container{
    display: flex;
    flex: 1;
    background-color: #39abe4;
    background-image: url("/sources/img/web/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    box-shadow: 4px 0px 20px #0000007a;
    z-index: 1;
  }
  .right-container{
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    background-image: linear-gradient(105deg, #0c86e1, #0085ff, #0e5fa9);
    .login-container{
      -webkit-app-region: no-drag;
      width: 300px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 15px;
      box-shadow: 2px 4px 18px #000000a1;
      border-radius: 10px;
      background-color: #ffffff;
      .login-title{
        font-size: 35px;
        font-weight: bold;
      }
      .login-hi{
        font-size: 15px;
      }
      .login-form{
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 15px;
        .name{
          font-weight: bold;
          font-size: 13px;
        }
        .register{
          font-size: 0.8rem;
        }
        .remember_me{
          gap: 5px;
          font-size: 0.8rem;
        }
        .input{
          display: flex;
          align-items: center;
          position: relative;
          i{
            display: flex;
            width: 40px;
            height: 40px;
            position: absolute;
            right: 5px;
            color: #98bbdb;
            cursor: pointer;
            transition: all 0.3s;
            align-items: center;
            justify-content: center;
            user-select: none;
            &:hover{
              color: #0084ff;
            }
          }
          input {
            background-color: #fff;
            padding: 0.8rem;
            padding-right: 3rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            width: -webkit-fill-available;
            border-radius: 0.5rem;
            border: 1px solid #00000029;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
            outline: none;
            &:focus{
              border: 1px solid #0c86e1;
            }
          }
        }
        button.login{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 10px 18px;
          gap: 20px;
          width: 100%;
          height: 42px;
          background: linear-gradient(180deg, #4480FF 0%, #115DFC 50%, #0550ED 100%);
          box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
          border-radius: 5px;
          border: 0;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          color: #ffffff;
          cursor: pointer;
          transition: all 0.3s;
          i{
            transition: all 0.2s;
          }
          &:hover{
            i{
              transform: rotate(45deg);
            }
            gap: 25px;
            background: linear-gradient(180deg, #1b63ff 0%, #064de6 50%, #023ebe 100%);
          }
        }
        .exit{
          display: flex;
          justify-content: center;
          margin-top: 10px;
          font-size: 13px;
          color: #999;
          cursor: pointer;
          &:hover{
            color: #333;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.guide{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  .guide-section{
    font-weight: 600;
    color: #999;
  }
  .guidebox{
    display: flex;
    max-width: 250px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
    background-color: #d7dfe7;
    box-shadow: 1px 2px 3px #00000060;
    .guide-icon{
      display: flex;
      padding: 8px 5px;
      width: 45px;
      min-width: 45px;
      img{
        width: 100%;
        height: max-content;
      }
    }
    .guide-content{
      display: flex;
      flex-direction: column;
      color: #001631;
      padding: 5px;
      gap: 2px;
      .guide-title{
        display: flex;
        font-weight: 600;
      }
      .guide-text{
        display: flex;
      }
    }
  }
}
.create_store{
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-data{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    gap: 5px;
    .name{
      font-weight: 600;
    }
    select{
      padding: 8px;
      border-radius: 7px;
      border: 1px solid #b3b3b3;
      color: #999;
      outline: none;
    }
    input{
      padding: 10px;
      border-radius: 7px;
      border: 1px solid #b3b3b3;
      outline: none;
    }
    button{
      display: flex;
      gap: 10px;
      margin-top: 5px;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #116bc0;
      color: #fff;
      border: hidden;
      &:hover{
        background-color: #0084ff;
      }
    }
  }
  .avatar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .avatar-input{
      display: flex;
      label{
        padding: 7px 15px;
        background-color: #ffffff;
        border-radius: 5px;
        color: #1e1d33;
        border: 1px solid #00000047;
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
          color: #000000;
          border: 1px solid #184669;
        }
      }
      input{
        display: none;
      }
    }
    .avatar-preview{
      width: 120px;
      height: 120px;
      border-radius: 10px;
      border: 3px solid #fff;
      box-shadow: 1px 2px 3px #00000060;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      label{
        cursor: pointer;
        position: absolute;
        background: #00000000;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: all 0.3s;
        gap: 5px;
        text{
          display: none;
          align-items: center;
          gap: 5px;
          transition: all 0.3s;
          i{
            padding-top: 3px;
          }
        }
      }
      input{
        display: none;
      }
      &:hover{
        label{
          background: #0000003b;
          text{
            display: flex;
            background-color: #fff;
            box-shadow: 1px 2px 3px #0000009c;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: 600;
            font-size: 12px;
          }
        }
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.app_bg{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  background-color: #00000050;
  .autoclose{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .whitebox{
    z-index: 1;
    background-color: #fff;
    min-width: 400px;
    min-height: 300px;
    max-height: 80vh;
    max-width: 90vw;
    border-radius: 5px;
    overflow: hidden;
    animation: bounceIn 0.2s;
    .box-header{
      display: flex;
      align-items: center;
      box-shadow: 1px 1px 3px #0000005e;
      justify-content: space-between;
      .box-title{
        display: flex;
        padding: 10px;
        font-size: 15px;
        font-weight: 600;
      }
      .box-close{
        padding: 5px;
        button.cls{
          color: #00000046;
          font-size: 15px;
          border: hidden;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover{
            color: #505050;
            background-color: #0000001f;
          }
        }
      }
    }
  }
}
.loading-bg{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  background-color: #000;
  .load-box{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    .loader {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 6rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      color: #fff;
      font-weight: bold;
      font-size: 15px;
    }
    .loader:before, .loader:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      animation: pulsOut 1.8s ease-in-out infinite;
      filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
    }
  
    .loader:before {
      width: 100%;
      padding-bottom: 100%;
      box-shadow: inset 0 0 0 1rem #fff;
      animation-name: pulsIn;
    }
    
    .loader:after {
      width: calc(100% - 2rem);
      padding-bottom: calc(100% - 2rem);
      box-shadow: 0 0 0 0 #fff;
    }
    
  }    
}
.app_error{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000060;
  z-index: 1100;
  align-items: center;
  justify-content: center;
  .error_background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .box{
    z-index: 1;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    background-color: #fff;
    border-radius: 10px;    
    font-size: 16px;
    gap: 10px;
    color: #1d2f44;
    img{
      width: 35px;
    }
    .btn{
      display: flex;
      border-radius: 5px;
      justify-content: end;
      button{
        padding: 8px 10px;
        border: 1px solid transparent;
        outline: none;
      }
    }
  }
}
@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #fff;
    opacity: 1;
  }

  50%, 100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}
@keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
}
@keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
  100% {
   stroke-dashoffset: -125px;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0.4;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}
@media (min-width: 1600px) {
  body {
    & .body-container {
      & .main-container {
        .app-container {
          width: 70px;
          .app-item{
            width: unset;
          }
          .app-sv{
            width: unset;
            img{
              width: 60%;
              height:unset;
            }
            .app-sv-name{
              width: 60%;
            }
          }
        }
      }
    }
  }
}