body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  .head-container {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 3px #00000060;
    overflow: hidden;
    gap: 10px;
    z-index: 100;
    -webkit-app-region: drag;
    .logo {
      display: flex;
      padding: 3px 5px;
      width: 30px;
      -webkit-app-region: no-drag;
      img {
        width: 100%;
      }
    }

    .searchbox {
      padding: 5px 10px;
      gap: 5px;
      align-items: center;
      display: flex;
      div {
        -webkit-app-region: no-drag;
        input[type="text"] {
          width: 320px;
          border: 1px solid #c9c9c9;
          border-radius: 7px;
          padding: 5px 10px;
          outline: none;
          transition: all 0.3s;
          &::placeholder{
            color: #bbbbbb;
          }
          &:focus {
            width: 330px;
            border: 1px solid #4e4e4e;
          }
        }
        &.box {
          padding: 0px 8px;
          height: 25px;
          font-size: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: 1px solid #d8d8d8;
          border-radius: 7px;
          transition: all 0.1s;
          color: #a0a0a0;
          gap: 5px;
          .fa-wifi{
            font-size: 0.7rem;
          }
          div{
            top: -5px;
            display: flex;
            padding: 0px 0px 3px 0px;
          }
          &:hover {
            color: #444;
            border: 1px solid #444;
          }
        }
      }
    }

    .right {
      padding: 0px 3px;
    }
    .button {
      -webkit-app-region: no-drag;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 1px solid transparent;
      transition: all 0.3s;
      color: #c1c1c1;
      font-size: 0.8rem;
      &:hover {
        color: #00000098;
        background: #dedede;
        &.close {
          background: #f31414;
          color: #fff;
        }
      }
    }
  }
  .body-container{
    display: flex;
    flex: 1;
    .left-container {
      display: flex;
      flex-direction: column;
      width: 50px;
      padding: 5px;
      gap: 5px;
      background-color: #3c4758;
      border-right: 1px solid #e1e1e1;
      color: #bfbfbf;
      .items{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 7px;
        transition: all 0.3s;
        &.active{
          color: #fff;
          box-shadow: 1px 2px 4px #00000075 inset;
          background-color: #00000070;
        }
        .logo{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          width: 40px;
          height: 45px;
          overflow: hidden;
          border-radius: 7px;
          font-weight: bold;
          border: 1px solid transparent;
          z-index: 1;
        }
        &:hover{
          background-color: #0000005d;
          text-shadow: 1px 1px 1px #00000020;
          color: #fff;
          &.active{
            color: #fff;
            text-shadow: 1px 1px 2px #00000020;
            box-shadow: 1px 2px 4px #000000c9 inset;
            background-color: #00000096;
          }
        }
      }
    }
  }
}

.g5 {
  gap: 5px;
}

.g7 {
  gap: 7px;
}

.g10 {
  gap: 10px;
}

.g15 {
  gap: 15px;
}

.flex,
.f {
  display: flex;
}
.acenter{
  align-items: center;
  justify-content: center;
}
.icenter{
  align-items: center;
}
.jcenter{
  justify-content: center;
}
.right {
  display: flex;
  margin-left: auto;
}

.flex1,
.f1 {
  display: flex;
  flex: 1;
}

.fc,
.flex-cl,
.flex-column {
  display: flex;
  flex-direction: column;
}